<div class="container">
    <h2 class="mt-3">Bienvenido amigo</h2>
    <!-- <router-outlet></router-outlet> -->
    <h5 class="mt-3">Tus Grupos</h5>

    <div class="row">
        <div *ngFor="let grupo of grupos">
            <div class="col mt-4">
                <div class="card" style="width: 18rem;">
                    <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
                    <div class="card-body">
                        <h5 class="card-title">{{ grupo.nombre }}</h5>
                        <p class="card-text">{{ grupo.descripcion }}</p>
                        <a [routerLink]="['grupo', grupo.grupo_id]" class="btn btn-primary">Ir</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>